<div class="container">
  <div *ngFor="let key of row1" class="row">
    <button (click)="passValue(key)" class="key">{{ key }}</button>
  </div>
</div>
<div class="container">
  <div class="filler"></div>
  <div *ngFor="let key of row2" class="row">
    <button (click)="passValue(key)" class="key">{{ key }}</button>
  </div>
  <div class="filler"></div>
</div>
<div class="container">
  <button class="wide-btn" (click)="enter()">Ent</button>
  <div *ngFor="let key of row3" class="row">
    <button (click)="passValue(key)" class="key">{{ key }}</button>
  </div>
  <button class="wide-btn" (click)="delete()">Del</button>
</div>
